* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "verdana", sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--white);
}

:root {
    /* Main theme colors */
    --background-color: #121212; 
    --grey: #808080; 
    --white: #ffffff; 
    --button-color: #fea004; 

    /* Dark theme colors */
    --background-color-dark: #1A1A1B; 
    --text-color-light: #ffffff;
    --dark-grey: #2B2B2B; 
    --input-background-dark: #2B2B2B;
    --button-color-dark:  #ad7111; 

}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}