.layout-container {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100vh;
}

.content-container {
    display: flex;
}

.layout-sidebar {
    width: 200px;
    border-right: 1px solid var(--white);
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 20px;
}

/* Styles for screens smaller than 600px (typical breakpoint for mobile devices) */
@media (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }

    .main-content {
        padding: 10px;
    }
}