.logout-button {
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.logout-button:hover {
    background-color: var(--button-color-dark);
    text-decoration: underline;
}