.navbar {
    display: flex;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
    padding: 10px;
    border-bottom: 1px solid var(--white);
    justify-content: space-between;
    height: 56.8px;
}

.navbar .left-section {
    display: flex;
    align-items: center;
}

.navbar .right-section {
    display: flex;
    align-items: center;
}

.navbar img {
    background-color: var(--white);
    border-radius: 100%;
    height: 32px;
    width: 32px;
    padding: 2px;
    margin-right: 10px;
}

.navbar h1 {
    margin: 0;
    font-size: 32px;
    color: var(--white);
}

.navbar h2 {
    margin: 0;
    font-size: 28px;
    margin-left: 100px;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: var(--button-color-dark);
}

.navbar a:visited {
    color: var(--white);
}

@media (max-width: 600px) {
    .navbar h1 {
        font-size: 1.6rem;
    }

    .navbar h2 {
        font-size: 20px;
    }

    .navbar h2 {
        display: none;
    }
}