.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: #313131;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;

}

.delete-button {
    font-size: 1rem;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 100%;
    background: #B22222;
    color: rgb(232, 220, 220);
    cursor: pointer;
}


button:hover {
    background-color: #901a1a;
    text-decoration: underline;
}

@media (max-width: 600px) {
    .profile-container h2 {
        font-size: 24px;
    }
}

@media (min-width: 600px) {
    .profile-container h2 {
        display: none;
    }
}